#intro {
  font-family: cursive;
  text-align:center;
}
.title {
  position: relative;
  text-align: center;
}
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}
body {
  background-color: gray;
  color:white;
}
.tab {
    background-color: #333;
    width: 100%;
    height: 100%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #111;
}
/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    /* display:none; */
}
